.col-md-4 img{
    height: 120px;
}
.bg1{
    background-image: url(https://e0.pxfuel.com/wallpapers/322/895/desktop-wallpaper-turquoise-blur-blurred-blue-grey-background-background.jpg);
    background-repeat: no-repeat;
    width: 500px;
    
}