.bgcolor{
    background-color:black;
}
.img1{
    padding-left: 50px;
}
nav{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: grey;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 30px;
    color: rgb(156, 43, 43);
    text-decoration: none;
    font-weight: 700;
}
.navbar a{
    font-size: 18px;
    color: gray;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover, 
.navbar a.active {
    color: rgb(167, 40, 40);
}
.home1{
    height: 100vh;
    align-items: center;
    display: flex;
    padding: 0 10%;
    max-width: 800px;
}
.head9{
    display: flex;
    width: 600px;
    font-size: 32px;
    font-weight: 700;
}
.home-content{
    max-width: 600px;
}
.head1{
    font-size: 56px;
    font-weight: 700;
}
.head3{
    
    font-weight: 700;
}
.para1{
    font-size: 20px;
    font-weight: 700;
    width: 400px;
}
.head2{
    font-size: 35px;
    font-weight: 700;
    padding: 0 10%;
}
.aboutme1{
    font-weight: 700;
    padding: 0 10%;
    text-align: justify;
}
.aboutme2{
    font-weight: 700;
    padding: 0 10%;
    text-align: justify;
}
.aboutme3{
    font-weight: 700;
    padding: 0 10%;
    text-align: justify;
}
.certification1{
    font-size: 35px;
    font-weight: 700;
    padding: 0 10%;
}
.align1{
    padding: 0 10%;
}
.card-text1{
    font-weight: 700;
}
.card-text2{
    font-weight: 700;
}
.card-text3{
    font-weight: 700;
}
.education1{
    font-size: 35px;
    font-weight: 700;
    padding: 0 10%;
}

